/* GENERAL */
* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Josefin Sans', sans-serif;
}

.container-fluid {
    margin: 0px;
    padding: 0px;
}

/* SOBRE MI */

.sobre-mi {
    background-image: url(../images/fondo1.jpg);
    background-size: 100%;
    background-position: top right;
    height: 75vh;
}

.sobre-mi h2 {
    color: rgb(1, 0, 154);
    font-weight: bolder;
    font-size: 38px;
}

.sobre-mi p {
    font-size: 26px;
}

/* TECNOLOGIAS DE PROGRAMACION*/

.tecnologias {
    background-color: rgb(9, 86, 190);
    height: 100vh;
}

.tecnologias h2{
    color: #FFFFFF;
    font-weight: bolder;
    font-size: 38px;
}


.card-tec {
    text-align: center;
    background-color: rgb(194, 193, 193);
    width: 150px;
    height: 180px;
    border-radius: 20px;
}

/* ANIMACIONES DE LAS CARDS */

.card-html , .card-css, .card-js, .card-php, .card-laravel, .card-bootstrap, .card-bbdd, .card-java, .card-git {
    transition: 0.3s;
}

.card-html:hover {
    color: rgb(242, 103, 46);
    background-color: white;
}

.card-css:hover {
    color: rgb(48, 170, 221);
        background-color: white;
}

.card-js:hover {
    color: rgb(242, 191, 38);
        background-color: white;
}

.card-php:hover {
    color: rgb(119, 123, 179);
        background-color: white;
}

.card-laravel:hover {
    color: rgb(239, 39 , 45);
        background-color: white;
}

.card-bootstrap:hover {
    color: rgb(85, 58, 125);
        background-color: white;
}

.card-git:hover {
    color: rgb(240, 80, 48);
        background-color: white;
}

.card-bbdd:hover {
    color: rgb(0, 48, 102);
        background-color: white;
}

.card-java:hover{
    color: rgb(230, 113, 0);
        background-color: white;
}

/* IDIOMAS Y HOBIES */

.conocimientos {
    background-color: #eeeeee;
}

.conocimientos span, .estudios span {
    font-size: 24px;
    font-weight: bolder;
}

.card-conocimiento, .card-estudios {
    border-radius: 20px;
}

.conocimientos h2 {
    color: rgb(55, 10, 109);
    font-weight: bolder;
}

.conocimientos li, .estudios li {
    list-style: none;
}

.i-card {
    padding: 30px;
    background-color: rgb(55, 10, 109);
    color: #ffffff;
    border-radius: 20px;
}

/* ESTUDIOS */

.estudios {
    background-color: #dddddd;
}

.estudios h2 {
    font-weight: bolder;
    color: rgb(137, 0, 78);
}

.estudios img {
    background-color: rgb(137, 0, 78);
}

.image-fiuba {
    width: 172px;
    height: 172px;
    border-radius: 20px;
}

.image-comit {
    border-radius: 20px;
    padding: 60px 28.5px;
}

/* CONTACTAME */

.contacto {
    background-color: #cccccc;
}

.contacto h2 {
    color: rgb(201, 0, 36);
}

/*input[type="text"], input[type="email"], textarea {
    background-color: transparent;
}*/

.form-control {
    background-color: transparent;
    border: none;
    border-radius: 0px;
    border-bottom: 2px solid rgb(201, 0, 36);
}

.form-control:focus {
    background-color: transparent;
    border: none;
    box-shadow: none;
    box-shadow: 0px 0px 8px rgb(201, 0, 36);
}

.btn {
    width: 100%;
    background-color: rgb(201, 0, 36);
    border-color: rgb(201, 0, 36);
    font-size: 24px;
}

.btn:hover {
    background-color: #cccccc;
    border: 2px rgb(201, 0, 36) solid;
    color: rgb(201, 0, 36);
}

/* FOOTER */

footer {
    background-color: #cccccc;
}

footer .nav-list {
    text-align: center;
    margin: 0;
}

footer .nav-link {
    display: inline-block;
    font-size: 30px;
}

footer i{
    color: black;
}

.fa-whatsapp, .fa-linkedin-in, .fa-github {
    transition: 0.3s;
}

.fa-whatsapp:hover {
    color: green;
}

.fa-linkedin-in:hover {
    color: darkblue;
}

.fa-github:hover {
    color: darkorange;
}